{% extends 'base.html.twig' %}

{% block title %}Inscription | Aux Confins de la Galaxie{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig '%}

{% block body %}
<div class="container mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path ('home')}}">Acceuil</a></li>
            <li class="breadcrumb-item"><a href="{{ path ('registrationcharte')}}">Charte Utilisateur</a></li>
            <li class="breadcrumb-item"><a href="{{ path ('registration')}}">Informations Joueur</a></li>
            <li class="breadcrumb-item active" aria-current="page">Création Personnage</li>
        </ol>
    </nav>

    <div class="row mt-4 mb-5">
        <div class="col">
            <h4>Etape 3: Création du Personnage</h4>
        </div>
    </div>
    {{ form_start(form)}}

    {# SELECT GENRE #}

    <div class="row mt-5">
        <div class="col">
            <h5 class="text-center">Sexe de votre personnage</h5>
        </div>
    </div>
    <div class="row mt-2"style="background-color: grey; border-radius: 5px;">
        <div class="col" id="genre"> 
            {{ form_row(form.genre, { 'label': ' '}) }} 
        </div>
    </div>
    <div class="row mt-5">
        <div class="col" id="race">
            <h5 class="text-center">Choisissez une race</h5>
        </div>
    </div>

    {# SELECT RACE #}

    <div class="row mt-2" id="race" style="background-color: grey; border-radius: 5px;">
        {% for race in races %}
        <div class="col mr-5 mt-4 mb-4">
            <div class="choix-race text-center">
                <h5>{{ race.race }}</h5>
                <div class="race-image text-center">
                    <img class="race-img" width="100px" src="{{ asset('uploads/registration/race/'~ race.image )}}" alt="Race" data-toggle="modal" data-target="#raceModal{{ race.id }}">
                    {% include("account/racemodal.html.twig") %}
                </div>
            </div>  
        </div>
        {% endfor %}
    </div>

    {# SELECT CLASSE #}

    <div class="row p-2 mt-2 select-class" style="background-color: grey; border-radius: 5px;">
    <div class="row mt-5 ml-auto" >
        <div class="col">
        <p>Vous êtes sensible à la Force. Vous n'en avez pas encore conscience mais vous l'êtes et un jour viendra ou vous rejoindrez l'Ordre Jedi, si tel est votre souhait.
        A ce titre, vous devrez choisir une voie de départ. Rien n'est définitif mais il détermine dans quelle condition votre aventure débute. Choisissez judicieusement.</p>
        </div>
    </div>
    <div class="row ml-auto">
        {% for classe in classes %}
            <div class="col" id="classe">
                <div class="voie-image mr-2">
                    <input type="radio" name="classe">
                        <img src="{{ asset('uploads/registration/'~ classe.image )| imagine_filter('test') }}" alt="Classe" class="classe-image">
                        <label class="label-classe"></label>
                </div>
                <div class="classe">
                <p>{{ classe.description }}</p>
                <p class="description-2">{{ classe.description2 }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    {# INFOS PERSONNAGE #}
    
    <div class="row mt-5">
        <div class="col" id="identite">
            <h5 class="text-center">Identité du Personnage</h5>
        </div>
    </div>
    <div class="complete-info mt-2 p-2" style="background-color: grey; border-radius: 5px;">
    <div class="row">
        <div class="col">
        {{ form_row(form.prenom, { 'label': 'Prénom'}) }}
        </div>
        <div class="col">
        {{ form_row(form.nom, { 'label': 'Nom'}) }}
        </div>
        <div class="col">
        {{ form_row(form.age, { 'label': 'Age'}) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
        {{ form_row(form.homeworld, { 'label': 'Planète d\'origine'}) }}
        </div>
        <div class="col">
        {{ form_row(form.taille, { 'label': 'Taille (en cm)'}) }}
        </div>
        <div class="col">
        {{ form_row(form.poids, { 'label': 'Poids(en kg)'}) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
        {{ form_row(form.biographie, { 'label': 'Biographie'}) }}
        </div>
        <div class="col">
        {{ form_row(form.description, { 'label': 'Description physique et morale'}) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
        {{ form_row(form.impression, { 'label': 'Impressions'}) }}
        <small>Décrivez en quelques lignes la vie de votre personnage jusqu'à son intégration au jeu</small>
        </div>   
    </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h5 class="text-center">Ajouter un Avatar</h5>
        </div>
    </div>
    <div class="row mt-2 p-2" style="background-color: grey; border-radius: 5px;">
        <div class="col">
           {{ form_row(form.avatar, { 'label': 'Votre avatar'}) }} 
        </div>
    </div>
    <div class="text-center mt-4">
    <button type="submit" class="btn btn-secondary">Confirmer l'inscription</button>
    {{ form_end(form)}}
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("#genre input").click(function(){
            $("#genre input").removeClass("checked");
            $(this).addClass("checked");
            $("html, body").animate({ scrollTop: $("#race").offset().top }, 600);
            return true;
        })
        $(".modal-body input").click(function(){
             $(this).attr(".race-img","checked");
        })
        
         $("#classe label").click(function(){
            $("#classe label").removeClass("checked");
            $(this).addClass("checked");
            $("html, body").animate({ scrollTop: $("#identite").offset().top }, 600);
            return true;
        })  

        $(".submit").click(function(){
            $(this).removeClass("checked");
            $('.race-img').addClass("checked");
            $("html, body").animate({ scrollTop: $("#classe").offset().top }, 600);
            return false;
        })
        /*
        $(".classe-image").click(function(){
            $(this).removeClass("checked");
            $('.voie-image').addClass("checked");
            $("html, body").animate({ scrollTop: $("#identite").offset().top }, 600);
            return true;
        })*/

    </script>
{% endblock %}