<div class="modal fade" id="raceModal{{ race.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{ race.id }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel{{ race.id }}">{{ race.race }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col text-justify">
          <p>{{ race.description }}</p><br>
          <p>{{ race.description2 }}</p>
        </div>
        <div class="col image-race rounded mx-auto d-block">
          {# <input type="radio" name="race"> #}
            <img width="100px" src="{{ asset('uploads/registration/race/'~ race.image )}}" alt="Race" class="image-de-race">
          {# <label class="label"></label> #}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Continuer l'inscription</button>
         {# <button type="button" class="btn btn-primary submit">Choisir cette race</button> #}
      </div>
    </div>
  </div>
</div>