<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Aux Confins de la Galaxie{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div class="parallax">
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="{{path ('home')}}">Aux Confins de la Galaxie</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">HoloNews <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Ressources
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ path ('regles') }}">Le Jeu</a>
                  <a class="dropdown-item" href="{{ path ('regles') }}">Règles</a>
                  <a class="dropdown-item" href="{{ path ('competences') }}">Pouvoir et compétences</a>
                  <a class="dropdown-item" href="#">Carte Galactique</a>
                  <a class="dropdown-item" href="#">Encyclopédie</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Personnages
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Jedi</a>
                  <a class="dropdown-item" href="#">Nouvelle République</a>
                  <a class="dropdown-item" href="#">Autres</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal"><i class="fab fa-rebel"></i> Se Connecter</a>
              </li>
               {% include("login.html.twig") %}
              <li class="nav-item">
                <a class="nav-link" href="#">Inscription</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <div class="container">
        <div id="breadcrumb"></div>
        <div class="row">
            <div class="col">
                <div class="uq">
                    <ul class="nav nav-pills">
                        <li><a href="{{ path ('lejeu') }}">Le jeu</a></li>
                        <li><a href="{{ path ('regles') }}">Les Règles</a></li>
                        <li><a href="{{ path ('competences') }}">Compétences</a></li>
                        <li><a href="{{ path ('grades') }}">Grades</a></li>
                        <li><a href="#">Carte Galactique</a></li>
                        <li><a href="#">Encyclopédie</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">    
            <div class="col">
                <div class="content-box">
                    <h2>Le jeu</h2>
                        <ol>
                            <li><a href="{{ path ('lejeu') }}">Présentation du jeu</a></li>
                            <li><a href="{{ path ('irc') }}">Principe du jeux en temps réel</a></li>
                            <li><a href="{{ path ('us') }}">Qui sommes-nous ?</a></li>
                        </ol>
                    <h2>Les règles</h2>
                        <ol>
                            <li><a href="{{ path ('regles') }}">Principes de base</a></li>
                            <li><a href="{{ path ('guide') }}">Règles de l'utilisation d'un sabre laser</a></li>
                            <li><a href="{{ path ('missions') }}">Création de missions</a></li>
                        </ol>
                    <h2>Les factions du jeu</h2>
                        <ol>
                            <li><a href="{{ path ('republic') }}">La Nouvelle République</a></li>
                            <li><a href="{{ path ('jedi') }}">Le Nouvel Ordre Jedi</a></li>
                            <li><a href="{{ path ('contrebandier') }}">Contrebandier</a></li>
                            <li><a href="{{ path ('empire') }}">L'Empire</a></li>
                        </ol>
                    <h2>Compétences et grades</h2>
                        <ol>
                            <li><a href="{{ path ('grades') }}">Grades de chaque voie</a></li>
                            <li><a href="{{ path ('guidels') }}">Guides du sabre laser</a></li>
                            <li><a href="{{ path ('competences') }}">Guide des compétences</a></li>
                        </ol>
                </div>
            </div>
            <div class="col">
                <div class="content">
               
                {% block body %} Utilisez le menu de gauche pour naviguer dans les dossiers.{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="card-body">
                    <h5 class="card-title">A propos</h5>
                    <div class="dropdown-divider"></div>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Enim, ad harum eveniet culpa illo sed fugit at quas debitis, accusantium quidem doloribus quia
                      porro vel autem necessitatibus, quam reiciendis earum.</p>
                  </div>
                </div>
                <div class="col">
                  <div class="card-body">
                    <h5 class="card-title">Le jeu</h5>
                    <div class="dropdown-divider"></div>
                    <ul>
                      <li class="active"><a href="{{path ('lejeu')}}">Le jeu</a></li>
                      <li><a href="{{path ('regles')}}">Comment jouer ?</a></li>
                      <li><a href="{{path ('rules')}}">Lire les règles</a></li>
                      <li><a href="">S'inscrire et créer votre personnage</a></li>
                      <li><a href="" data-toggle="modal" data-target="#loginModal">Connexion au jeu</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col">
                    <h5 class="card-title"></h5>
                  <div class="card-body">
                    <ul>
                      <li><a href="#">Besoin d'aide ? Lire la FAQ</a></li>
                      <li><a href="#">Mentions légales</a></li>
                      <li><a href="#">Conditions d'utilisation</a></li>
                      <li><a href="#">La communauté</a></li>
                      <li><a href="#">Qui sommes-nous ?</a></li>
                      <li><a href="#">Contactez-nous</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>


    <footer class="footer">
        @2019 URL.com v.beta Youngling
        AUX CONFINS DE LA GALAXIE est une marque déposée appartenant à l'association Youngling (loi 1901)
    </footer>
        
        {% block javascripts %}{% endblock %}
    </body>
    </div>
</html>
