<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Aux Confins de la Galaxie{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div class="parallax">
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="{{path ('home')}}">Aux Confins de la Galaxie</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{ path ('newsinrp') }}">HoloNews <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Ressources
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ path ('lejeu') }}">Le Jeu</a>
                  <a class="dropdown-item" href="{{ path ('regles') }}">Règles</a>
                  <a class="dropdown-item" href="{{ path ('competences') }}">Pouvoir et compétences</a>
                  <a class="dropdown-item" href="{{ path ('carte') }}">Carte Galactique</a>
                  <a class="dropdown-item" href="{{ path ('encyclopedie') }}">Encyclopédie</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Personnages
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Jedi</a>
                  <a class="dropdown-item" href="#">Nouvelle République</a>
                  <a class="dropdown-item" href="#">Autres</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="" data-toggle="modal" data-target="#loginModal"><i class="fab fa-rebel"></i> Se Connecter</a>
              </li>
              {% include("login.html.twig") %}
              <li class="nav-item">
                <a class="nav-link" href="#">Inscription</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    {% block body %}{% endblock %}
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="card-body">
                    <h5 class="card-title">A propos</h5>
                    <div class="dropdown-divider"></div>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Enim, ad harum eveniet culpa illo sed fugit at quas debitis, accusantium quidem doloribus quia
                      porro vel autem necessitatibus, quam reiciendis earum.</p>
                  </div>
                </div>
                <div class="col">
                  <div class="card-body">
                    <h5 class="card-title">Le jeu</h5>
                    <div class="dropdown-divider"></div>
                    <ul>
                      <li><a href="{{path ('lejeu')}}">Le jeu</a></li>
                      <li><a href="{{path ('regles')}}">Comment jouer ?</a></li>
                      <li><a href="{{path ('rules')}}">Lire les règles</a></li>
                      <li><a href="#">S'inscrire et créer votre personnage</a></li>
                      <li><a href="#" data-toggle="modal" data-target="#loginModal">Connexion au jeu</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col">
                    <h5 class="card-title"></h5>
                  <div class="card-body">
                    <ul>
                      <li><a href="{{path ('faq')}}">Besoin d'aide ? Lire la FAQ</a></li>
                      <li><a href="{{path ('mentions')}}">Mentions légales</a></li>
                      <li><a href="{{path ('conditions')}}">Conditions d'utilisation</a></li>
                      <li><a href="{{path ('communaute')}}">La communauté</a></li>
                      <li><a href="{{path ('quisommesnous')}}">Qui sommes-nous ?</a></li>
                      <li><a href="{{path ('contact')}}">Contactez-nous</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>


    <footer class="footer">
        @2019 URL.com v.beta Youngling
        AUX CONFINS DE LA GALAXIE est une marque déposée appartenant à l'association Youngling (loi 1901)
    </footer>
        
        {% block javascripts %}{% endblock %}
    </body>
    </div>
</html>
